  <div class="container mt-4">
      <h2>Gestión de Clientes</h2>
      <div class="mb-3">
  <input 
    type="text" 
    class="form-control" 
    placeholder="Buscar cliente por nombre..." 
    [(ngModel)]="searchTerm" 
    (input)="search()" 
    autocomplete="off">
</div>
      <div class="card my-4">
        <div class="card-body">
          <form (ngSubmit)="save()" #customerForm="ngForm" class="row g-3">
            <div class="col-auto">
              <input type="text" name="name" class="form-control" 
                     [(ngModel)]="newCustomer.name" placeholder="Nombre del cliente" required>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary" [disabled]="!customerForm.form.valid">Agregar</button>
            </div>
          </form>
        </div>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of customers">
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
           <td>
  <button class="btn btn-primary btn-sm me-2" (click)="edit(c)">Editar</button>
  
  <button class="btn btn-outline-danger btn-sm" (click)="delete(c.id)">Borrar</button>
</td>
          </tr>
        </tbody>
      </table>
    </div>